@model IEnumerable<MeyerAccountingV2.EF.BusinessHour>

@{
    ViewBag.Title = "Manage Business Hours";
    ViewBag.FooterInfo = "<a href='@Url.Action('Contact', 'Home')'>Contact</a>";
}

<div class="container">
    <div class="row pt-xl mb-lg">
        <div class="col-md-12">
            <h1 class="mt-xl mb-none">@ViewBag.Title</h1>
            <div class="divider divider-primary divider-small mb-xl">
                <hr>
            </div>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Day)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hours)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Day)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hours)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.BusinessHourId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.BusinessHourId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
