@model MeyerAccountingV2.EF.Slideshow

@{
    ViewBag.Title = "Delete Featured Slide";
    ViewBag.FooterInfo = "<a href='@Url.Action('Contact', 'Home')'>Contact</a>";
}

<div class="container">
    <div class="row pt-xl mb-lg">
        <div class="col-md-12">
            <h1 class="mt-xl mb-none">@ViewBag.Title</h1>
            <div class="divider divider-primary divider-small mb-xl">
                <hr>
            </div>

            <div>
                <h4>Are you sure you want to delete this slide?</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        Link
                    </dt>

                    <dd>
                        <div>@Html.DisplayFor(model => model.Link.Name)</div>
                        <div><a href="@Model.Link.Url">@Model.Link.Url</a></div>
                    </dd>

                    <dt>
                        Background Image
                    </dt>

                    <dd>
                        <div>@Html.DisplayFor(model => model.StockImage.Name)</div>
                        <div><img src="~/Content/Image/stock/@Model.StockImage.Filename" alt="@Model.StockImage.Description" style="max-width:300px" /></div>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsRightAligned)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsRightAligned)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Manage")
                    </div>
                }
            </div>

        </div>
    </div>
</div>



